* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #eef7f7;
    --med-color: #45a1a1;
    --secondary-med-color: #ff794d;
    --dark-color: #395660;
    --secondary-dark-color: #cc3300;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
}

body a {
    text-decoration: none;
    color: var(--secondary-dark-color);
}

/* HEADER STARTS HERE */
header {
    padding: 5px 35px;
    background-color: #ff794d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    display: inline-block;
    font-size: 38px;
    padding: 10px;
    color: var(--light-color);
    text-shadow: 0 0 10px #cc3300;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 25px;
    color: var(--med-color);
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 18px;
}

/* HERO STARTS HERE */
.hero {
    height: 245px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/hero-cord-image.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.hero h2 {
    height: 55px;
    width: 200px;
    padding: 12px;
    background-color: var(--secondary-med-color);
    color: var(--light-color);
    text-shadow: 0 0 10px #cc3300;
}

/* ABOUT STARTS HERE */
h3 {
    font-size: 25px;
    border-bottom: 2px solid var(--secondary-dark-color);
    width: 300px;
    padding: 10px 0;
}

.about {
    padding: 20px 70px;
}

.about p {
    padding: 12px 0;
}

/* WORK SAMPLES START HERE */
.work {
    padding: 20px 70px;
}

.work h4 {
    padding-top: 12px;
}

/*was trying to put image 1 in as background here, didn't work, deleted. send halpz*/

.sample-tag {
    color: #263940;
    background-color: var(--med-color);
    width: 450px;
    height: 80px;
    padding: 10px;
    position: absolute;
}

/* CONTACT STARTS HERE */
.contact {
    padding: 20px 70px;
}

.contact p {
    padding: 12px 0;
}

.contact ul {
    list-style: none;
    padding: 12px 0;
    color: var(--secondary-dark-color);
}

.contact ul li {
    padding: 12px 55px;
}

/* RESUME STARTS HERE */
.resume {
    padding: 20px 70px;
}

.resume p {
    padding: 12px 0;
}

/* FOOTER STARTS HERE */
footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    text-align: end;
    padding: 15px 70px;
}