* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #eef7f7;
    --med-color: #45a1a1;
    --secondary-med-color: #ff794d;
    --dark-color: #395660;
    --secondary-dark-color: #cc3300;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
}

body a {
    text-decoration: none;
    color: var(--secondary-dark-color);
}

/* HEADER STARTS HERE */
header {
    padding: 5px 35px;
    background-color: #ff794d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    display: inline-block;
    font-size: 38px;
    padding: 10px;
    color: var(--light-color);
    text-shadow: 0 0 10px #cc3300;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 25px;
    color: var(--med-color);
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 18px;
}

/* HERO STARTS HERE */
.hero {
    height: 245px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/hero-cord-image.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.hero h2 {
    height: 55px;
    width: 200px;
    padding: 12px;
    background-color: var(--secondary-med-color);
    color: var(--light-color);
    text-shadow: 0 0 10px #cc3300;
}

/* ABOUT STARTS HERE */
h3 {
    font-size: 25px;
    border-bottom: 2px solid var(--secondary-dark-color);
    width: 300px;
    padding: 10px 0;
}

.about {
    padding: 20px 70px 235px 70px;
    display: flex;
    flex-wrap: wrap;
}

.about img {
    width: 200px;
    position: absolute;
    top: 440px;
    border: 2px solid var(--dark-color);
    border-radius: 2px;
    box-shadow: 5px 5px 10px var(--dark-color);
}

.about h3 {
    position: relative;
    left: 0px;
}

.about p {
    padding: 12px 0;
    width: 75%;
    position: relative;
    left: 225px;
    top: 70px;
}

/* WORK SAMPLES START HERE */
.work {
    padding: 20px 70px;
}

.work-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-sample1 a img {
    margin: 25px 20px 10px 20px;
    width: 850px;
    height: 640px;
    opacity: 80%;
    border: 5px solid var(--dark-color);
    border-radius: 1%;
    box-shadow: 5px 5px 10px var(--dark-color);
}

.work-sample1:hover a img {
    box-shadow: none;
    opacity: 50%;
}

.work-sample a img {
    margin: 0 20px;
    width: 400px;
    height: 315px;
    opacity: 90%;
    border: 5px solid var(--dark-color);
    border-radius: 1%;
    box-shadow: 5px 5px 10px var(--dark-color);
}

.work-sample:hover a img {
    opacity: 50%;
    box-shadow: none;
}

.sample-tag {
    color: #263940;
    background-color: var(--med-color);
    width: 125px;
    height: 80px;
    padding: 10px;
    position: relative;
    bottom: 125px;
    left: 10px;
    border: 2px solid var(--med-color);
    border-radius: 1px;
    box-shadow: 5px 5px 10px var(--dark-color);
}

.work h4 {
    padding-top: 12px;
}

/* CONTACT STARTS HERE */
.contact {
    padding: 20px 70px;
}

.contact p {
    padding: 12px 0;
}

.contact ul {
    list-style: none;
    padding: 12px 0;
    color: var(--secondary-dark-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact ul li {
    padding: 12px 55px;
}

.contact ul li a {
    border-bottom: 1px solid var(--secondary-dark-color);
}

.contact ul li a:hover {
    color: var(--med-color);
    border-bottom: 1px solid var(--med-color);
}

/* RESUME STARTS HERE */
.resume {
    padding: 20px 70px;
    padding-bottom: 80px;
}

.resume p {
    padding: 12px 0;
}

.resume p a:hover {
    color: var(--med-color);
}

/* FOOTER STARTS HERE */
footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    text-align: end;
    padding: 15px 70px;
}